---
import Menu from "@/icons/Menu.astro";

const MENU = [
    {
        text: "Carta",
        url: "#carta",
        clase: "block py-2 px-3 text-nav rounded md:bg-transparent uppercase font-semibold",
    },
    {
        text: "Galería",
        url: "#galeria",
        clase: "block py-2 px-3 text-nav rounded md:bg-transparent uppercase font-semibold",
    },
    {
        type: "logo",
        src: "./logo-latrilogia.webp",
        alt: "Logo Restaurante La Trilogia",
        title: "Logo Restaurante La Trilogia",
        clase: "w-1/2 lg:w-9/12 mx-auto py-6 px-3",
    },
    {
        text: "Contacto",
        url: "#contacto",
        clase: "block py-2 px-3 text-nav rounded md:bg-transparent uppercase font-semibold",
    },

    {
        text: "Reservar",
        url: "https://elobrador.myrestoo.net/es/reservar",
        clase: "hover:text-black transition ease-in mx-auto uppercase bg-button rounded-full text-xl text-white pt-3 px-8",
        external: true,
    },
];
---

<header>
    <nav class="fixed w-full z-10">
        <div
            class="bg-white w-full flex flex-wrap items-center justify-center mx-auto"
        >
            <button
                data-collapse-toggle="navbar-default"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <Menu class="size-5" />
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="h-full font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row items-center gap-x-10"
                >
                    {
                        MENU.map((item) =>
                            item.type === "logo" ? (
                                <li class="flex items-center space-x-3 rtl:space-x-reverse">
                                    <a href="/">
                                        <img
                                            src={item.src}
                                            alt={item.alt}
                                            class={item.clase}
                                        />
                                    </a>
                                </li>
                            ) : item.external ? (
                                <li>
                                    <a
                                        href={item.url}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class={item.clase}
                                    >
                                        {item.text}
                                    </a>
                                </li>
                            ) : (
                                <li>
                                    <a href={item.url} class={item.clase}>
                                        {item.text}
                                    </a>
                                </li>
                            ),
                        )
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggleButton = document.querySelector(
            '[data-collapse-toggle="navbar-default"]',
        );
        const navbar = document.getElementById("navbar-default");
        const links = document.querySelectorAll("#navbar-default a");

        links.forEach((link) => {
            link.addEventListener("click", () => {
                if (
                    toggleButton &&
                    toggleButton.getAttribute("aria-expanded") === "true"
                ) {
                    navbar ? navbar.classList.add("hidden") : "";
                    toggleButton.setAttribute("aria-expanded", "false");
                }
            });
        });
    });
</script>
