---
import ButtonMenu from "./ButtonMenu.astro";

type Menus = {
    text?: string;
    url?: string;
    clase: string;
    type?: string;
    src?: string;
    alt?: string;
    title?: string;
    external?: boolean;
};

const { nonce } = Astro.props;

const baseClass = `block py-2 px-4 text-nav rounded md:bg-transparent uppercase font-semibold 
hover:text-white transition ease-in duration-300 hover:bg-button`;

const MENU: Menus[] = [
    { text: "Carta", url: "/#carta", clase: baseClass },
    { text: "Galería", url: "/#galeria", clase: baseClass },
    {
        type: "logo",
        src: "./logo-latrilogia.webp",
        alt: "Logo Restaurante La Trilogia",
        title: "Logo Restaurante La Trilogia",
        clase: "w-1/2 lg:w-9/12 mx-auto hover:scale-90 transition ease-in duration-300",
    },
    { text: "Contacto", url: "/#contacto", clase: baseClass },
    {
        text: "Reservar",
        url: "https://elobrador.myrestoo.net/es/reservar",
        clase: "hover:text-black transition ease-in mx-auto uppercase bg-button rounded-full md:font-semibold text-white py-2 px-4",
        external: true,
    },
];

---

<header>
    <nav class="fixed w-full z-10">
        <div
            class="bg-white w-full flex flex-wrap items-center justify-center mx-auto"
        >
            <ButtonMenu />
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul
                    class="h-full font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row items-center gap-4"
                >
                    {
                        MENU.map((item) =>
                            item.type === "logo" ? (
                                <li>
                                    <a href="/" class={item.clase}>
                                        <img
                                            src={item.src}
                                            alt={item.alt}
                                            class={item.clase}
                                        />
                                    </a>
                                </li>
                            ) : item.external ? (
                                <li>
                                    <a
                                        href={item.url}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class={item.clase}
                                    >
                                        {item.text}
                                    </a>
                                </li>
                            ) : (
                                <li>
                                    <a href={item.url} class={item.clase}>
                                        {item.text}
                                    </a>
                                </li>
                            ),
                        )
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<script is:inline nonce={nonce} type="module">
    import { menuToggle } from "../src/types/menuToggle";
    menuToggle();
</script>
